.list {
    list-style: none;
    padding: 1em 0;
    display: flex;
}

.list > * + * {
    margin-left: 1 rem;
}

.navAnchor {
    text-decoration: underline 2 px;
}

.navAnchor:hover,
.navAnchor:focus {
    text-decoration: underline dotted 2px;

}